<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminLTE 3 | @ViewData["Title"]</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/libs/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/libs/font-awesome/css/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/libs/admin-lte/css/adminlte.min.css">

    @RenderSection("Styles", required: false)

    <environment include="Development">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body class="hold-transition sidebar-mini @ViewData["Body_Class"]">
    <!-- Site wrapper -->
    <div class="wrapper">
        <!-- Navbar -->
        @await Html.PartialAsync("_Header")
        
        @await Html.PartialAsync("_NavBar")

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            @await Html.PartialAsync("_StatusMessage", TempData["StatusMessage"])

            @RenderBody()
        </div>
        <!-- /.content-wrapper -->
        @await Html.PartialAsync("_Footer")

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>

    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="~/libs/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/libs/bootstrap/js/bootstrap.min.js"></script>

    <!-- SlimScroll -->
    <script src="~/libs/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="~/libs/fastclick/fastclick.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/libs/admin-lte/js/adminlte.min.js"></script>


    @RenderSection("Scripts", required: false)

    <!-- ASP.NET site script -->
    <environment include="Development">
        <script src="~/js/site.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @await Html.PartialAsync("_ValidationScriptsPartial")
</body>
</html>
